.overlay {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.overlayControls {
  margin-bottom: 1em;
  display: flex;
  flex-direction: horizontal;
}

.overlaySlider {
  margin-right: 1em;
}
