\#*
.\#*
*~

# Python
__pycache__
*.pyc
.mypy_cache
venv
third_party/build-*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake build
build/

# virtual env
env/
