[submodule "third_party/api-common-protos"]
	path = third_party/api-common-protos
	url = https://github.com/googleapis/api-common-protos.git
[submodule "jetson/uhubctl"]
	path = jetson/uhubctl
	url = https://github.com/mvp/uhubctl.git
[submodule "third_party/ceres-solver"]
	path = third_party/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "third_party/Sophus"]
	path = third_party/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "third_party/apriltag"]
	path = third_party/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv.git
