.programs {
  :global(table) {
    margin-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.programDetail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.programForm {
  padding: 1em;
  border-bottom: 1px solid #f9f9f9;
  margin-bottom: 1em;
}
