[Unit]
Description="Tractor canbus service"
BindsTo=sys-subsystem-net-devices-wlan0.device sys-subsystem-net-devices-usb0.device
After=sys-subsystem-net-devices-wlan0.device sys-subsystem-net-devices-usb0.device

[Service]
ExecStart=/opt/farm_ng/systemd/bringup.sh
WorkingDirectory=/opt/farm_ng/systemd
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
