[Unit]
Description="Tractor canbus service"
BindsTo=sys-subsystem-net-devices-wlan0.device dev-bus-usb-001-001.device dev-bus-usb-002-001.device
Requires=bluetooth.service network.target
After=bluetooth.service network.target sys-subsystem-net-devices-wlan0.device dev-bus-usb-001-001.device dev-bus-usb-002-001.device

[Service]
ExecStart=/opt/farm_ng/systemd/bringup.sh
WorkingDirectory=/opt/farm_ng/systemd
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
