@import "theme";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

html {
  height: 100%;

  // Since the browser default font size is 16px, setting the root element
  // font size to 62.5% means 1rem = 10px. This gives us more reasonable
  // defaults for a developer interface and makes the mental math easier.
  font-size: 62.5%;
}

#root {
  height: 100%;
}

// uncomment for visual debugging
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
