[Unit]
Description="Tractor canbus service"
After=network.target

[Service]
ExecStart=/home/farmer/tractor/app/tractor/driver/bringup.sh
WorkingDirectory=/home/farmer/tractor
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
