.annotatedImageContainer {
  display: flex;
  min-height: 0;
  padding: 0.5rem;
  justify-content: center;
}

.annotatedImage {
  height: 100%;
  position: relative;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
